<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Harrison Liddiard{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flexslider.css">
    <!--<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
    <header>
        <a href="{% url 'front' %}"><h1><img class="mug" src="{{ STATIC_URL }}img/mug.jpg"/>Harrison Liddiard</h1></a>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="refer">
            <a href="{% url 'front' %}">Projects</a> | 
            <a href="#">Resume</a> | 
            <a href="http://twitter.com/HLiddiard/">Twitter</a> | 
            <a href="http://github.com/liddiard/">GitHub</a>
        </div>
        <div class="copyright">&copy; 2014 Harrison Liddiard</div>
    </footer>
</body>
</html>
