<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Harrison Liddiard{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flexslider.css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
    <header>
        <a id="banner" href="{% url 'front' %}"><h1><img class="mug" src="{{ STATIC_URL }}img/mug.jpg"/>Harrison Liddiard</h1></a>
        <nav>
            <ul>
                <li><a href="{% url 'front' %}">Projects</a></li>
                <li><a href="{% url 'resume' %}">Resume</a></li>
                <li><a href="http://github.com/liddiard/">GitHub</a></li>
                <li><a href="http://about.me/harrisonliddiard/">about.me</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="refer">
            <a href="{% url 'front' %}">Projects</a> | 
            <a href="{% url 'resume' %}">Resume</a> | 
            <a href="http://github.com/liddiard/">GitHub</a> | 
            <a href="http://about.me/harrisonliddiard/">about.me</a>
        </div>
        <div class="copyright">&copy; 2014 Harrison Liddiard</div>
    </footer>
</body>
</html>
