{% extends "base.html" %}

{% block title %}{{ project.title }} | Harrison Liddiard{% endblock %}

{% block content %}

<aside class="project">
    <h1>{{ project.title }}</h1>
    <span class="descriptor">{{ project.descriptor }}</span>
    <a class="project-link" href="{{ project.link }}" target="blank">{{ project.link }}</a>
    <span class="involvement"><strong>Involvement:</strong> {{ project.involvement }}</span>
    <div class="skills">
        <strong>Skills:</strong>
        {% for skill in skills %}
            <a class="skill" href="{% url 'skill' skill.slug %}">{{ skill.name }}</a>
        {% endfor %}
    </div>
    <span class="github-link"><strong>GitHub:</strong> <a href="{{ project.github }}" target="blank">{{ project.github }}</a></span>
    <p class="summary">{{ project.summary }}</p>
</aside>

<section class="rotator">
    <div class="flexslider">
        <ul class="slides">
        {% for image in gallery %}
            <li><img src="{{ MEDIA_URL }}{{ image.image }}"/></li>
        {% endfor %} 
        </ul>
    </div>
</section>

{% endblock %}
