{% extends "base.html" %}
{% load markdown %}

{% block meta %}{{ project.summary|markdown|striptags|truncatechars:153 }}&hellip;{% endblock %}

{% block title %}{{ project.title }} | Harrison Liddiard{% endblock %}

{% block content %}

<aside class="project">
    <h1>{{ project.title }}</h1>
    <span class="descriptor">{{ project.descriptor }}</span>
    {% if project.link %}
        <a class="project-link" href="{{ project.link }}" target="blank">{{ project.link }} <img src="{{ STATIC_URL }}img/external_link.png"/></a>
    {% endif %}
    <span class="involvement"><strong>Involvement:</strong> {{ project.involvement }}</span>
    <div class="skills">
        <strong>Skills:</strong>
        {% for skill in skills %}
            <a class="skill" href="{% url 'skill' skill.slug %}">{{ skill.name }}</a>
        {% endfor %}
    </div>
    {% if project.github %}
        <span class="github-link"><strong>GitHub:</strong> <a href="{{ project.github }}" target="blank">{{ project.github }}</a></span>
    {% endif %}
    <p class="summary">{{ project.summary|markdown }}</p>
</aside>

{% if gallery %}
    <section class="rotator">
        <div class="flexslider">
            <ul class="slides">
            {% for image in gallery %}
                <li><img src="{{ MEDIA_URL }}{{ image.image }}"/></li>
            {% endfor %} 
            </ul>
        </div>
    </section>
{% endif %}

{% endblock %}
