{% extends "base.html" %}

{% block title %}Resum&eacute; | Harrison Liddiard{% endblock %}

{% block content %}

<section id="resume">
    <div class="print">Print <img src="{{ STATIC_URL }}img/print.png"/></div>
    <h1>Resum&eacute;</h1>
    <section class="col left">
        <h2>Work Experience</h2>
        <div class="item">
            <h3 class="position">hackNY Fellow, Software Engineering Intern <span class="date">Summer 2015</span></h3>
            <h4 class="company">Offerpop, Inc.</h4>
            <ul>
                <li>Worked as a full-stack developer at a social marketing startup to create user-customizable components for the company&rsquo;s core campaign builder product.</li>
                <li>Used technologies including React/Flux, Flask, MongoDB, and Django Rest Framework.</li>
                <li>Participated in the hackNY Fellows program of mentorship, lecture series, and employment at a technology company in NYC, hosted by Columbia and NYU faculty.</li>
            </ul>
        </div>
        <div class="item">
            <h3 class="position">Web Developer &amp; Designer <span class="date">Sept. 2014 &ndash; present</span></h3>
            <h4 class="company">UCLA Athletics</h4>
            <ul>
                <li>Design and make custom pages for major athletic events.</li>
                <li>Create tools and user-facing web applications with Django, React, AngularJS.</li>
                <li>Worked with the uclabruins.com website vendor to coordinate a full site redesign.</li>
                <li>Established a style guide for the website.</li>
            </ul>
        </div>
        <div class="item">
            <h3 class="position">Digital Managing Editor <span class="date">June 2014 &ndash; June 2015</span></h3>
            <h4 class="company">Daily Bruin</h4>
            <ul>
                <li>Managed the online, video, radio, and blogging departments of <em>The Bruin</em>.</li>
                <li>Coordinated multimedia coverage and collaboration on features.</li>
                <li>Critiqued and guided departments&rsquo; content and operations.</li>
            </ul>
        </div>
        <div class="item">
            <h3 class="position">Online Editor <span class="date">June 2013 &ndash; June 2014</span></h3>
            <h4 class="company">Daily Bruin</h4>
            <ul>
                <li>Managed a department of 30 developers.</li>
                <li>Interviewed and hired applicants, organized and managed project teams.</li>
                <li>Taught developers how to work with development tools. (Git, Django, WordPress, etc.)</li>
            <ul>
        </div>
        <div class="item">
            <h3 class="position">Product Engineering Intern <span class="date">Summer 2012</span></h3>
            <h4 class="company">Microchip Technology, Inc.</h4>
            <ul>
                <li>Diagrammed, prototyped, and wrote software in C for a laser spirograph to demonstrate the capabilities of one of the company&rsquo;s microcontrollers.</li>
                <li>Soldered and tested printed circuit boards (PCBs) to ship to clients.</li>
                <li>Assisted with hands-on instructional labs for engineers.</li>
            </ul>
        </div>
    </section>
    <section class="col right">
        <h2>Education</h2>
        <div class="item">
            <h3 class="school">UCLA <span class="date">expected 2017</h3>
            <h4>Linguistics and Computer Science</h4>
        </div>
        <h2>Technical Skills</h2>
        <div class="item">
            <h4>HTML, CSS, Sass</h4>
            <h4>JavaScript, React, AngularJS</h4>
            <h4>Python, Django, Flask</h4>
            <h4>C++</h4>
            <h4>SQL and NoSQL databases</h4>
            <h4>Git, Bash</h4>
        </div>
        <h2>Projects</h2>
        <div class="item">
            <h4><span class="project-name">sepalnote.com</span> hierarchical note-taking webapp. AngularJS and Django (under development).</h4>
            <h4><span class="project-name">monitor404.com</span> HTTP 404 error monitoring as a service. Python Celery, Stripe API, and SSL.</h4>
            <h4><span class="project-name">kikl.co</span> shortened links with easy-to-remember URLs. PostgreSQL and Django.</h4>
            <h4><span class="project-name">gifdatabase.com</span> community-driven animated GIF tagging and searching. jQuery and Django.</h4>
        </div>
        <h2>Additional Skills</h2>
        <div class="item">
            <h4>Product management</h4>
            <h4>UX design</h4>
            <h4>Teaching</h4>
            <h4>Photography and cinematography</h4>
            <h4>Video and audio editing</h4>
            <h4>Working proficiency in Spanish</h4>
        </div>
    </section>
    <div class="more">
        <div class="experience">
            Additional work experience at <a href="https://linkedin.com/in/liddiard/">linkedin.com/in/liddiard</a>.
        </div>
        <div class="projects">
            Additional projects at <a href="http://www.harrisonliddiard.com/">harrisonliddiard.com</a>.
        </div>
    </div>
</section>

{% endblock %}
